/* 
Box-Sizing-:Border-box;
mostra o tamanho real da div e ignora o valor do border e do padding
ao tamanho do elemento
*/


#d1 {
    width: 300px;
    height: 300px;
    background: darkblue;
    border-style: solid;
    border-color: darkred;
    border-width: 20px;
    border-radius: 20px;
    padding: 25px;
    box-sizing: border-box;
}
#d2 {
    width: 200px;
    height: 200px;
    background: darkblue;
    border-style: solid;
    border-color: darkred;
    border-width: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 25px;
}
#d3 {
    width: 100px;
    height: 100px;
    background: darkblue;
    border-style: solid;
    border-color: darkred;
    border-width: 20px;
    border-radius: 20px;
    padding: 25px;
    
}
p{
    color: #fff;
    border: #000 solid 10px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    
}